<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mytmall.mapper.PropertyValueMapper">

    <resultMap id="propertyValueBean" type="PropertyValue">
        <id property="id" column="property_value_id"/>
        <result property="productId" column="product_id"/>
        <result property="propertyId" column="property_id"/>
        <result property="value" column="property_value"/>
    </resultMap>

    <select id="getByProductIdAndPropertyId" resultMap="propertyValueBean">
        SELECT * FROM t_property_value WHERE product_id = #{0} AND property_id = #{1}
    </select>

    <select id="getByPropertyValueId" resultMap="propertyValueBean">
        SELECT * FROM t_property_value WHERE property_value_id = #{0}
    </select>

    <update id="update" parameterType="PropertyValue">
        UPDATE t_property_value SET property_value= #{value} WHERE property_value_id = #{id}
    </update>

    <insert id="add" parameterType="PropertyValue" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO t_property_value (product_id, property_value, property_id) VALUES(#{productId}, #{value}, #{propertyId})
    </insert>

    <select id="getByProductId" resultMap="propertyValueBean">
        SELECT * FROM t_property_value WHERE product_id = #{0}
    </select>
</mapper>